common --ui_event_filters=-DEBUG

build --config=dev-local

#common build settings
build --workspace_status_command=$(pwd)/workspace_status.sh
build --color=yes 
build --show_timestamps
build --@io_bazel_rules_go//go/config:static
build --@io_bazel_rules_go//go/config:pure
build --incompatible_strict_action_env
build --remote_instance_name=com_github_gyturi_bazelremotetest/dev

#development build locally
build:dev-local --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64
build:dev-local --@io_bazel_rules_go//go/config:debug -c dbg --strip=never
build:dev-local --repo_env=GO_REPOSITORY_USE_HOST_CACHE=1

#develoepemt build docker sandbox with isolation
build:dev-docker-sandbox --config=docker-sandbox
build:dev-docker-sandbox --@io_bazel_rules_go//go/config:debug -c dbg --strip=never

#develeopment build remotely
build:dev-remote --config=remote
build:dev-remote --remote_instance_name=com_github_gyturi_bazelremotetest/dev
build:dev-remote --@io_bazel_rules_go//go/config:debug -c dbg --strip=never

#production build locally
build:prod-local --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64
build:prod-local --@io_bazel_rules_go//go/config:strip -c opt --strip=always --objc_enable_binary_stripping
build:prod-local --repo_env=GO_REPOSITORY_USE_HOST_CACHE=1

#production build with docker sandbox isolation
build:prod-docker-sandbox --config=docker-sandbox
build:prod-docker-sandbox --@io_bazel_rules_go//go/config:strip -c opt --strip=always --objc_enable_binary_stripping

#production build remotely
build:prod-remote --config=remote
build:prod-remote --remote_instance_name=com_github_gyturi_bazelremotetest/prod
build:prod-remote --@io_bazel_rules_go//go/config:strip -c opt --strip=always --objc_enable_binary_stripping

#CI specific settings
build:ci --verbose_failures
#NOTE: --sandbox_debug cause failure on ci because in {bazel_cache}/.../runner/sandbox/... contains inaccessible files, those needs to be deleted before action/cache post action runs!!!

build:release --stamp
build:release --remote_download_toplevel

#Shared settings amongst remote and docker-sandbox build type
build:ds-rbe-common --define=EXECUTOR=remote
build:ds-rbe-common --java_runtime_version=rbe_jdk
build:ds-rbe-common --tool_java_runtime_version=rbe_jdk
build:ds-rbe-common --extra_toolchains=//rbe-config/java:all
build:ds-rbe-common --crosstool_top=//rbe-config/cc:toolchain
build:ds-rbe-common --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:ds-rbe-common --extra_toolchains=//rbe-config/config:cc-toolchain
build:ds-rbe-common --extra_execution_platforms=//rbe-config/config:platform
build:ds-rbe-common --host_platform=//rbe-config/config:platform
build:ds-rbe-common --platforms=//rbe-config/config:platform
build:ds-rbe-common --repo_env=GO_REPOSITORY_USE_HOST_CACHE=0
build:ds-rbe-common --incompatible_strict_action_env=true

#docker-sandbox specific settings
build:docker-sandbox --config=ds-rbe-common
build:docker-sandbox --spawn_strategy=docker
build:docker-sandbox --experimental_docker_verbose
build:docker-sandbox --experimental_enable_docker_sandbox
#build:docker-sandbox --noexperimental_docker_use_customized_images
#build:docker-sandbox --sandbox_add_mount_pair=/var/run/docker.sock:/var/run/docker.sock
build:docker-sandbox --experimental_docker_image=localhost:5000/test-rbe-container@sha256:7c1fda00736d765ba36da7dc1438b9831e489b054b9e14b6ba9f8e0578fded01

#remote build execution specific settings
build:remote --remote_executor=grpc://localhost:8980
build:remote --config=ds-rbe-common
build:remote --jobs=2
build:remote --define=EXECUTOR=remote
build:remote --remote_timeout=600
#build:remote --remote_download_toplevel
build:remote --disk_cache=
#build:remote --spawn_strategy=remote,local

test --test_output=errors
test --test_verbose_timeout_warnings

test:ci --test_output=errors
test:ci --test_verbose_timeout_warnings
